.title {
  color: var(--nextui-colors-red500);
  margin-block: 0.5rem;
  text-align: center;
}

.startConversation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 70%;
    aspect-ratio: 1;
  }

  h4,
  h6 {
    text-align: center;
  }
}

.sendMessages {
  border-radius: 0.875rem;
  background-color: var(--nextui-colors-backgroundSecondary);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;

  svg {
    display: block;
    margin-inline: auto;
    width: 50%;
    aspect-ratio: 1;
  }
}

.messagesBody {
  padding-inline: 0;
  background-color: var(--nextui-colors-backgroundSecondary);
  border-radius: 0.875rem;
  padding: 1rem;
  height: 100%;
  position: relative;
}

.scrollDown {
  position: fixed;
  right: 7rem;
  bottom: 6rem;
  font-size: 2.5rem;
  color: var(--nextui-colors-red500);
  border-radius: 50%;
  box-shadow: 8px 16px 16px#1c1f24;
  background-color: #1c1f24;
  cursor: pointer;
}

.noData {
  span {
    margin-block: 1rem;
    font-size: 1.25rem;
    color: var(--nextui-colors-red500);
  }

  svg {
    display: block;
    margin-inline: auto;
    width: 50%;
    margin-block: 1rem;
  }
}

.conversationsList {
  height: calc(100vh - 10rem);
}

.conversationsList,
.messagesList {
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.conversationItem:not(:last-child) {
  margin-bottom: 1rem;
  cursor: pointer;
}

.messageHeader {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  margin-inline: 0;

  svg {
    font-size: 2rem;
    color: var(--nextui-colors-red500);
  }
}

.sendMessage {
  --nextui--inputColor: #1c1f24;

  svg {
    font-size: 1.5rem;
    color: var(--nextui-colors-red500);
  }
}

.message {
  width: 100%;
  margin-block: 0.5rem;
  height: fit-content;
}

.sentBy,
.receivedBy {
  padding: 0.5rem;
  border-radius: 0.875rem;
  max-width: 80%;
  color: #eaeaeb;
}

.sentBy {
  float: right;
  background: var(--nextui-colors-gradient);
  border-top-right-radius: 0;
}

.receivedBy {
  float: left;
  background-color: #1c1f24;
  border-top-left-radius: 0;
}

.sendNewMessage {
  position: fixed;
  bottom: 1rem;
  left: 31vw;
  color: var(--nextui-colors-red500);
  font-size: 3rem;
  cursor: pointer;
}

@media screen and (min-width: 651px) and (max-width: 960px) {
  .sendNewMessage {
    right: 2rem;
    left: unset;
  }
}

@media screen and (max-width: 650px) {
  .scrollDown {
    right: 3rem;
  }
  .messagesList {
    height: calc(100vh - 11.5rem);
  }
  .sendNewMessage {
    right: 2rem;
    left: unset;
    bottom: 5rem;
  }
}
