.title {
  color: var(--nextui-colors-red500);
}

.settingTitle {
  font-weight: 700;
}

.settingSubtitle {
  color: var(--nextui-colors-textSecondary);
  font-size: 0.75rem;
}

.settings {
  svg {
    font-size: 1.5rem;
  }
}
