.title,
.subtitle {
  color: var(--nextui-colors-red500);
  margin-block: 1.5rem;
  text-align: center;
}
.settingTitle {
  font-weight: 700;
}

.settingSubtitle {
  color: var(--nextui-colors-textSecondary);
  font-size: 0.875rem;
}

.settingSVG {
  font-size: 1.5rem;
}

.darkMode {
  font-size: 1.125rem;
}

.fontSize,
.languages {
  width: min(100%, 500px);
  gap: 1rem;

  label {
    display: block;
    white-space: nowrap;
  }

  select {
    width: 100%;
    border-radius: 0.875rem;
    text-indent: 0.25rem;
    height: 2rem;
    border: none;
    background-color: var(--nextui-colors-backgroundSecondary);

    &:focus {
      outline: 2px solid var(--nextui-colors-red500);
    }
  }
}

.editProfile {
  margin-bottom: 2rem;

  svg {
    font-size: 1.5rem;
  }

  .userIMG {
    width: 135px;
    height: 135px;
    margin-inline: auto;
    border-radius: 135px;
    padding: 5px;
    padding-top: 7.5px;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 2px solid var(--nextui-colors-red500);
    border-top: transparent;

    img {
      border-radius: 135px;
    }
  }

  .userName {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.settingsLink {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;

  &.active {
    font-weight: 600;
    color: var(--nextui-colors-red500);
    font-size: 1.5rem;

    svg {
      font-size: 2rem;
    }
  }

  svg {
    font-size: 1.5rem;
  }
}

.header {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  cursor: pointer;

  svg {
    font-size: 2.5rem;
  }
}

.imageEdit {
  position: relative;
  margin-inline: auto;
  width: fit-content;
  height: fit-content;
  padding-inline: 0.25rem;
  padding-top: 0.25rem;
  border: 2px solid var(--nextui-colors-red500);
  border-radius: 50%;
  cursor: pointer;

  .image {
    overflow: hidden;
  }

  img {
    display: block;
    border-radius: 50%;
  }

  .imageEditSVG {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--nextui-colors-red500);
    height: 48px;
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 50%;
    z-index: 1000;

    svg {
      font-size: 1.5rem;
    }
  }
}

.imageEditLabel {
  text-align: center;
  margin-block: 1rem;
}

.countryFlag {
  width: 30px;
  height: 22px;
}

.selectMenu {
  width: 100%;
  display: flex;
  flex-flow: column;

  .select {
    width: 100%;
    background: var(--nextui-colors-accents0);
    padding: var(--nextui-space-2) var(--nextui-space-5);
    border-radius: var(--nextui-space-7);
    height: calc(2.2 * var(--nextui-space-9));
    border: none;
  }

  .selectLabel {
    display: block;
    margin-bottom: var(--nextui-space-3);
    padding: 0 0 0 var(--nextui-space-2);
  }
}

.languageSelect,
.fontSizeSelect {
  width: fit-content;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .select {
    width: unset;
  }

  .selectLabel {
    width: 100%;
  }
}
