.container {
  height: 100vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

@media (min-width: 650px) {
  .container {
    max-width: var(--breakpoints-xs);
  }
}

@media (min-width: 960px) {
  .container {
    max-width: var(--breakpoints-sm);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--breakpoints-md);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: var(--breakpoints-lg);
  }
}
