.linkText {
  text-align: center;
  margin-block: 1.5rem;
  color: var(--text-secondary);

  a {
    color: var(--accent500);
  }
}

.title {
  font-size: 2rem;
  text-align: center;
  color: var(--accent500);
  font-weight: 800;
  margin-block: 1rem;
}

.appName {
  font-family: "Love Light", cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-block: 0;
}
